body {

    background-color: black;
    color: green;




}

h1 {

    font-family: 'Pixelify Sans', sans-serif;
    font-size: 300%;




}


h4 {

    font-family: 'Playfair Display', serif;
    font-size: medium;
    color: teal;

}

#bio:first-child {


    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: right;



}

#work  {


    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: left;


}


#reviews {

    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: center;

}

#photos :first-child {

    background-color: black;
    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: left;



}



#footer {

    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    




}