body {

    background-color: black;
    color: green;

}

h1 {

    font-family: 'Pixelify Sans', sans-serif;
    font-size: 300%;
    
}


h4 {

    font-family: 'Playfair Display', serif;
    font-size: medium;
    color: teal;

}

#bio  {

    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: right;

}

#work {

    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: left;
    
}


#reviews {

    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: center;
  
}

#photos :first-child {

    background-color: black;
    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    text-align: left;
    width: 100%;
/* Css Comment Template */
/* I added this green frame as a joke and now if I remove it everything breaks. Good thing it looks good but what the heck??? */

    
}



#footer first {

    display:flex;
    border: 2px solid green;
    outline: green solid 1px;
    margin: auto;  
    padding: 10px;
    
}

li:nth-child(2) {
    background: yellow;
    /* this is a demonstration of nth-child /*

}